/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #303030;
}

.accent {
  color: white;
  background: #3f51b5;
}


.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.fill-page {
  height: 100%;
}

.inline {
  display: flex;
  flex-direction: column;
}


.content {
  padding: 2em;
}
