<app-header></app-header>
<mat-drawer-container autosize>

  <mat-drawer opened #drawer mode="side">
    <nav>
      <div *ngIf="!login.isLoggedIn()">
        <mat-toolbar-row>
          <button class="sidenav-button" mat-button routerLink="/login" routerLinkActive="active">
            <a>Anmelden</a>
          </button>
        </mat-toolbar-row>
      </div>

      <mat-toolbar-row  *ngIf="login.isLoggedIn()">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <button class="sidenav-button" mat-button routerLink="/semester" routerLinkActive="active">
                  <a>Semester</a>
                </button>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button class="sidenav-button" mat-button routerLink="/semester/create" routerLinkActive="active">
              <a>Semester erstellen</a>
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-toolbar-row>

      <mat-toolbar-row  *ngIf="login.isLoggedIn()">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <button class="sidenav-button" mat-button routerLink="/group" routerLinkActive="active">
                  <a>Gruppen</a>
                </button>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button class="sidenav-button" mat-button routerLink="/group/create" routerLinkActive="active">
              <a>Grouppe erstellen</a>
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-toolbar-row>
    </nav>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
