<app-header></app-header>
<mat-drawer-container autosize>

  <mat-drawer opened #drawer mode="side">
    <nav>
      <div *ngIf="!login.isLoggedIn()">
        <mat-toolbar-row>
          <button class="sidenav-button" mat-button routerLink="/login" routerLinkActive="active">
            <a>Anmelden</a>
          </button>
        </mat-toolbar-row>
      </div>

      <mat-toolbar-row *ngIf="login.isLoggedIn() && login.isAdmin()">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <button class="sidenav-button" mat-button routerLink="/semester" routerLinkActive="active">
                  <a>Semester</a>
                </button>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button class="sidenav-button" mat-button routerLink="/semester/create" routerLinkActive="active">
              <a>Semester erstellen</a>
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-toolbar-row>

      <mat-toolbar-row *ngIf="login.isLoggedIn() && login.isAdmin()">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <button class="sidenav-button" mat-button routerLink="/group" routerLinkActive="active">
                  <a>Gruppen</a>
                </button>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button class="sidenav-button" mat-button routerLink="/group/create" routerLinkActive="active">
              <a>Grouppe erstellen</a>
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-toolbar-row>

      <mat-toolbar-row *ngIf="login.isLoggedIn() && login.isAdmin()">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <button class="sidenav-button" mat-button routerLink="/subject" routerLinkActive="active">
                  <a>Fächer</a>
                </button>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button class="sidenav-button" mat-button routerLink="/subject/create" routerLinkActive="active">
              <a>Fächer erstellen</a>
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-toolbar-row>

      <mat-toolbar-row *ngIf="login.isLoggedIn() && login.isAdmin()">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <button class="sidenav-button" mat-button routerLink="/class" routerLinkActive="active">
                  <a>Klassen</a>
                </button>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button class="sidenav-button" mat-button routerLink="/class/create" routerLinkActive="active">
              <a>Klassen erstellen</a>
            </button>
            <button class="sidenav-button" mat-button routerLink="/class/add-member" routerLinkActive="active">
              <a>Schüler hinzufügen</a>
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-toolbar-row>

      <mat-toolbar-row *ngIf="login.isLoggedIn()&& login.isAdmin()">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <button class="sidenav-button" mat-button routerLink="/exam" routerLinkActive="active">
                  <a>Prüfungen</a>
                </button>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button class="sidenav-button" mat-button routerLink="/exam/create" routerLinkActive="active">
              <a>Prüfung erstellen</a>
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-toolbar-row>

      <mat-toolbar-row *ngIf="login.isLoggedIn()">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <button class="sidenav-button" mat-button routerLink="/personal" routerLinkActive="active">
                  <a>Persönlich</a>
                </button>

              </mat-panel-title>

            </mat-expansion-panel-header>

            <button class="sidenav-button" mat-button routerLink="/personal/exam" routerLinkActive="active">
              <a>Eigene Prüfung</a>
            </button>
            <button class="sidenav-button" mat-button routerLink="/personal/exam/create" routerLinkActive="active">
              <a>Prüfung erfassen</a>
            </button>
          </mat-expansion-panel>
        </mat-accordion>

        <div *ngIf="login.isLoggedIn()">
          <mat-toolbar-row>
            <button class="sidenav-button" mat-button routerLink="/logout" routerLinkActive="active">
              <a>Abmelden</a>
            </button>
          </mat-toolbar-row>
        </div>
      </mat-toolbar-row>
    </nav>
  </mat-drawer>
   <div class="content">
     <router-outlet></router-outlet>
   </div>
</mat-drawer-container>
